<div class="background"></div>

 <div class="outer-div">
   <div class="inner-div">
     <div class="front">
       <div class="front__bkg-photo"></div>
       <img class="front__face-photo front " src="assets/images/client.png"/>
       <div class="front__text">
         <h3 class="front__text-header">{{data.username}}</h3>
         <p class="front__text-para"><i class="fas fa-map-marker-alt front-icons"></i>{{data.country}}</p>

         <span class="front__text-hover">Hover to Find Me</span>
       </div>
     </div>
     <div class="back">
       <div >
         <span class="front__text-hover">Birthdate : {{data.birthdate}}</span>
         <hr/>
         <span class="front__text-hover">Email : {{data.email}}</span>
         <hr/>
         <span class="front__text-hover">Phone : {{data.phone}} </span>
       </div>
     </div>

   </div>
 </div>