<body class="sub_page">
  <!-- item section -->

  <div class="item_section layout_padding2">
    <div class="container">
      <div class="item_container">
        <div class="box">
          <div class="price">
            <h6>
              Best PRICE
            </h6>
          </div>
          <div class="img-box">
            <img src="assets/images/i-6.png" alt="">
          </div>
          <div class="name">
            <h5>
              Bracelet
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="price">
            <h6>
              Best PRICE
            </h6>
          </div>
          <div class="img-box">
            <img src="assets/images/i-5.png" alt="">
          </div>
          <div class="name">
            <h5>
              Ring
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="price">
            <h6>
              Best PRICE
            </h6>
          </div>
          <div class="img-box">
            <img src="assets/images/i-7.png" alt="">
          </div>
          <div class="name">
            <h5>
              Earings
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end item section -->


  <!-- price section -->

  <section class="price_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Jewellery Price
        </h2>
      </div>
      <div class="price_container" >
        <div class="box" *ngFor="let product of displayedProducts">
          <div class="name">
            <h6>
              {{ product.name }}
            </h6>
          </div>
          <div class="img-box">
            <img [src]="'assets/images/i-' + product.id + '.png'" alt="">
          </div>
          <div class="detail-box">
            <h5>
              $<span>{{ product.price }}</span>
            </h5>
            <a  (click)="openDialog(product)" >
              Details
            </a>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <a *ngIf="!showAll" (click)="seeMore()" class="price_btn">
          See More
        </a>
      </div>
      
    
    </div>
  </section>

  <!-- end price section -->




